/* Nested Components */
/* line 2, ../scss/nestedComponents.scss */
.surveyor {
  border: 1px solid #ccc;
  padding: 20px;
}
/* line 5, ../scss/nestedComponents.scss */
.surveyor h2 {
  font-size: 18px;
}
/* line 7, ../scss/nestedComponents.scss */
.surveyor h2 a {
  color: green;
}

/* line 13, ../scss/nestedComponents.scss */
.notice {
  background: yellow;
  border: 5px solid #000;
  padding: 20px;
}
/* line 17, ../scss/nestedComponents.scss */
.notice.alert {
  background: red;
  box-shadow: 0 0 10px red;
}

/* line 23, ../scss/nestedComponents.scss */
.notice {
  background: yellow;
  border: 5px solid #000;
  padding: 20px;
}
/* line 27, ../scss/nestedComponents.scss */
.notice a {
  color: #222;
}
/* line 29, ../scss/nestedComponents.scss */
.notice a:hover {
  color: #313131;
}
